/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

//variables
$primary-color: #fff;
$primary-red-color: #CB0A01;
$primary-green-color: #14A33D;
$dark-grey-font-color: #333333;
$light-grey-color:#A5A5A5;
$extra-light-grey-color:#E8E8E8;
$button-grey-color: #919191;
$popup-width: 870px;
$close_popup_size: 24px;
$pagination-item-size: 24px;
$map-img-size: 65px;
$product-in-out-stock-size: 15px;
$store-btn_width: 103px;
$store-btn_height: 24px;

/* fonts*/
@include font-face ('Lato-Bold',
        font-files('lato-bol-webfont.woff',
                'lato-bol-webfont.ttf',
                'lato-bol-webfont.svg'),
        'lato-bol-webfont.eot'
);

@include font-face ('Lato-Regular',
        font-files('lato-reg-webfont.woff',
                'lato-reg-webfont.ttf',
                'lato-reg-webfont.svg'),
        'lato-reg-webfont.eot'
);
html, body{
  width: 100%;
  height: 100%;
}
body{
  min-height: 100%;
  background: $primary-color;
  color: $dark-grey-font-color;
  font-family: 'Lato-Regular', Verdana, Arial, Helvetica, sans-serif;
}
.wrapper{
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.cus-popup{
    width: 100%;
    height: 100%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(153, 153, 153, 0.5);
    }
    .cus-popup-main-wrap{
        width: $popup-width;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        background: $primary-color;
        padding: 35px 30px 79px 40px;
        @include box-sizing();
        }
        .cus-popup_main-wrap-chevron{
            display: inline-block;
            width: 22px;
            height: 10px;
            position: relative;
            }
        .cus-popup_main-wrap-chevron:before,
        .cus-popup_main-wrap-chevron:after{
            content: '';
            position: absolute;
            display: block;
            top: 1px;
            border: 5.5px solid transparent;/*adjust size*/
            }
/*Change four 'left' values below to rotate (top/right/bottom/left)*/
        .cus-popup_main-wrap-chevron:before{
            left: 8px;
            border-left-color: $primary-color;
            }
        .cus-popup_main-wrap-chevron:after{
            left: 5px;
            border-left-color: $primary-red-color;
            }
        .cus-popup_main-wrap-hide-btn{
            display: block;
            width: $close_popup_size;
            height: $close_popup_size;
            position: absolute;
            right: 23px;
            top: 13px;
            background: $button-grey-color url(../images/sprite.png) -1px 0 no-repeat;
            @include border-radius(50%);
            }
    .cus-popup_product-stuff{
        overflow: hidden;
        }
        .cus-popup-product-stuff-view{
            width: 30%;
            float: left;
            @include box-sizing();
            padding: 2px 0;
            margin-right: 3.8%;
            }
            .cus-popup-product-stuff-view-title,
            .cus-popup-product-stuff-location-title{
                font-family: 'Lato-Bold', Verdana, Arial, Helvetica, sans-serif;
                word-spacing: 2px;
                line-height: 1.2;
                margin-bottom: 14px;
                text-rendering: optimizeSpeed;
                font-size: 18px;
                }
                .cus-popup-product-stuff-view-code{
                    display: block;
                    font-size: 10px;
                    color: $dark-grey-font-color;
                    }
                    .cus-popup-product-stuff-view-img-wrap{
                        width: 100%;
                        height: 230px;
                        line-height: 230px;
                        margin: 0 auto;
                        text-align: center;
                        overflow: hidden;
                        }
                        .cus-popup-product-stuff-view-img-wrap-img{
                            vertical-align: middle;
                            }
        .cus-popup-product-stuff-location{
            width: 66.2%;
            float: right;
            }
            .cus-popup-product-stuff-location-title{
                padding: 0 9px;
                margin-bottom: 7px;
                }
        .cus-popup-product-stuff-store-form{
            width: 96.6%;
            margin: 0 auto 15px;
            }
            .cus-popup-product-stuff-store-form-search-label{
                display: inline-block;
                font-size: 14px;
                word-spacing: 1px;
                margin-bottom: 15px;
                }
                .cus-popup-product-stuff-store-form-holder{
                    display: table;
                    width: 100%;
                    }
                    .cus-popup-product-stuff-store-form-holder-row{
                        display: table-row;
                        }
                    .cus-popup-product-stuff-store-form-holder-row-search-submit-wrap{
                        display: table-cell;
                        width: 1px;
                        text-align: right;
                        padding-left: 10px;
                        white-space: nowrap;
                        }
                    .cus-popup-product-stuff-store-form-search-wrap{
                        white-space: nowrap;
                        }
                        .cus-popup-product-stuff-store-form-search-wrap-search{
                            width: 100%;
                            padding: 3px 6px 5px;
                            display: table-cell;
                            @include box-sizing();
                            font-size: 12px;
                            border: 1px solid $light-grey-color;
                            }
                        .cus-popup-product-stuff-store-form-holder-row-search-submit-wrap-submit,
                        .cus-popup_store-location-list-item-btn-wrap-btn{
                            display: inline-block;
                            min-width: $store-btn_width;
                            padding: 5px 0 5px 10px;
                            font-size: 12px;
                            position: relative;
                            height: $store-btn_height;
                            line-height: $store-btn_height/2;
                            background: $primary-red-color;
                            color: $primary-color;
                            font-weight: bold;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            }
                        .cus-popup-product-stuff-store-form-holder-row-search-submit-wrap-submit{
                            top: 1px;
                            }
                        .cus-popup_store-location-list-item-btn-wrap-btn{
                            white-space: nowrap;
                            padding-top: 4px;
                            padding-bottom: 4px;
                            background: $primary-color;
                            border: 1px solid $button-grey-color;
                            color: $dark-grey-font-color;
                            }
                            .cus-popup_store-location-list-item-btn-wrap-btn-chevron:before{
                                border-left-color: $primary-red-color;
                                }
                            .cus-popup_store-location-list-item-btn-wrap-btn-chevron:after{
                                border-left-color: $primary-color;
                                }

    .cus-popup_store-location-list{
        display: table;
        width: 100%;
        border: 1px solid $extra-light-grey-color;
        }
        .cus-popup_store-location-list-item{
            display: table-row;
            width: 98%;
            height: 95px;
            padding: 10px;
            }
            .cus-popup_store-location-list-item-map-wrap{
                display: table-cell;
                width: $map-img-size;
                vertical-align: middle;
                padding-left: 9px;
                }
                .cus-popup_store-location-list-item-map-wrap-helper{
                    width: 100%;
                    height: $map-img-size;
                    line-height: 100%;
                    margin: 0 auto;
                    text-align: center;
                    overflow: hidden;
                    vertical-align: top;
                    }
                    .cus-popup_store-location-list-item-map-wrap-helper-img{
                        padding-right: 16px;
                        }
            .cus-popup_store-location-list-item-adr-wrap{
                display: table-cell;
                width: 34%;
                max-width: 34%;
                @include box-sizing();
                padding: 20px 0 10px;
                vertical-align: top;
                }
                .cus-popup_store-location-list-item-adr-wrap-city{
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.3;
                    text-rendering: optimizeSpeed;
                    }
                .cus-popup_store-location-list-item-adr-wrap-house{
                    font-size: 12px;
                    }
            .cus-popup_store-location-list-item-check-product{
                display: table-cell;
                vertical-align: middle;
                box-sizing: border-box;
                padding-bottom: 10px;
                }
                .cus-popup_store-location-list-item-check-product-in-icon,
                .cus-popup_store-location-list-item-check-product-out-icon{
                    @include border-radius(50%);
                    text-align: center;
                    width: $product-in-out-stock-size;
                    height: $product-in-out-stock-size;
                    background-color: $primary-green-color;
                    background-image: url(../images/sprite.png);
                    background-repeat: no-repeat;
                    background-position: -24px -4px;;
                    display: block;
                    position: relative;
                    left: 0;
                    right: 0;
                    margin: auto;
                    }
                .cus-popup_store-location-list-item-check-product-out-icon{
                    background-color: $primary-red-color;
                    background-image: url(../images/sprite.png);
                    background-repeat: no-repeat;
                    background-position: -5px -4px;
                    }
                .cus-popup_store-location-list-item-check-product-supply-state{
                    display: block;
                    text-align: center;
                    font-size: 14px;
                    line-height: 1.1;
                    font-weight: bold;
                    margin-top: 7px;
                    }
                .cus-popup_store-location-list-item-check-product-supply-info{
                    display: block;
                    width: 86px;
                    font-size: 12px;
                    text-align: center;
                    margin: 0 auto;
                    }
            .cus-popup_store-location-list-item-btn-wrap{
                display: table-cell;
                vertical-align: middle;
                padding-right: 2.5%;
                text-align: right;
                }
                .cus-popup_store-location-list-item-btn-wrap-btn{
                    display: inline-block;
                    }
    .cus-popup_pagination-list{
        display: block;
        position: absolute;
        list-style: none;
        bottom: 41px;
        right: 51px;
        }
        .cus-popup_pagination-list-btn{
            display: inline-block;
            width: $pagination-item-size;
            height: $pagination-item-size;
            line-height: $pagination-item-size;
            text-align: center;
            margin-right: 10px;
            }
        .cus-popup_pagination-list-btn:last-child{
            margin-right: 0;
            }
            .cus-popup_pagination-list-btn-link{
                display: inline-block;
                width: 100%;
                height: 100%;
                position: relative;
                font-size: 12px;
                color: $primary-color;
                background: $button-grey-color;
                text-decoration: none;
                }
                .cus-popup_pagination-list-btn-link-prev,
                .cus-popup_pagination-list-btn-link_next,
                .cus-popup_pagination-list-btn-link-active{
                    background: $primary-color;
                }
                .cus-popup_pagination-list-btn-link-active{
                    color: $dark-grey-font-color;
                    }
                    .cus-popup_pagination-list-btn-link-next-chevron-left:before{
                        left: 5px;
                        border-left-color: transparent;
                        border-right-color: #CBCBCB;
                        }
                    .cus-popup_pagination-list-btn-link-next-chevron-left:after{
                        left: 8px;
                        border-left-color: transparent;
                        border-right-color:$primary-color;
                        }
                    .cus-popup_pagination-list-btn-link-next-chevron-right:before{
                        border-left-color: $primary-red-color;
                        }
                    .cus-popup_pagination-list-btn-link-next-chevron-right:after{
                        border-left-color: $primary-color;
                        }