/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

//variables
$close_popup_size: 24px;

/* fonts*/
@include font-face ('Lato-Bold',
        font-files('lato-bol-webfont.woff',
                'lato-bol-webfont.ttf',
                'lato-bol-webfont.svg'),
        'lato-bol-webfont.eot'
);

@include font-face ('Lato-Regular',
        font-files('lato-reg-webfont.woff',
                'lato-reg-webfont.ttf',
                'lato-reg-webfont.svg'),
        'lato-reg-webfont.eot'
);

html, body{
  width: 100%;
  height: 100%;
}
body{
  min-height: 100%;
  background: #fff;
  font-family: 'Lato-Regular', Verdana, Arial, Helvetica, sans-serif;
}

.wrapper{
  height: 100%;
  min-height: 100%;
}

.cus-popup{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(153, 153, 153, 0.5);
}

.cus-popup__main-holder{
  display: block;
  width: 870px;
  height: 501px;
  position: relative;
  top: 218px;
  left: 0;
  right: 0;
  background: #fff;
  margin: auto;
  padding: 35px 30px 35px 40px;
  @include box-sizing();
}

.cus-popup_main-holder__popup-hide-btn{
  display: block;
  width: $close_popup_size;
  height: $close_popup_size;
  position: absolute;
  right: 23px;
  top: 13px;
  background: #919191 url(../images/img-cancel.png) center no-repeat;
  @include border-radius(50%);
}

.cus-popup_main-holder__product_stuff{
}

.cus-popup_main-holder_product-stuff__product-view,
.cus-popup_main-holder_product-stuff_product-view__product-location{
  float: left;
}

.cus-popup_main-holder_product-stuff__product-view{
  width: 25%;
  margin-right: 5%;
}

.cus-popup_main-holder_product-stuff_product-view__product-title,
.cus-popup_main-holder_product-stuff_product-location__product-title{
  font-family: 'Lato-Bold', Verdana, Arial, Helvetica, sans-serif;
  word-spacing: 2px;
  line-height: 1.43;
  margin-bottom: 13px;
}

.cus-popup_main-holder_product-stuff__product-view{
  @include box-sizing();
  padding: 2px 0;
}

.cus-popup_main-holder_product-stuff_product-view__product-code{
  display: block;
  font-size: 10px;
}

.cus-popup_main-holder_product-stuff_product-view_img-wrap{
  display: block;
  width: 100%;
  height: 230px;
  line-height: 230px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
}

.cus-popup_main-holder_product-stuff_product-view__product-img{
  vertical-align: middle;
}

.cus-popup_main-holder_product-stuff__product-location{
  width: 70%;
}

.cus-popup_main-holder_product-stuff_product-view__store-location-list{
  outline: 1px solid #ccc;
}

.cus-popup_main-holder_product-stuff_product-view__pagination-wrap{
  display: block;
  width: 100%;
}